<h1><b>
  Welcome to your cookbook
</b></h1>

<h3>
  Here are all your <em><mark>recipes</mark></em>:
</h3>
<p> ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ </p>

<% @recipes.each do |recipe| %>
  <h5><mark><%= recipe.name %></mark></h5>
  <p><%= recipe.description %></p>
  <p><em> Rating :  <%= recipe.rating %>/5.0   - - -    Prep Time : <%= recipe.preptime %> mins </em></p>
  <%# <a class="destroy" href="/destroy"><small><i>delete this recipe</i></small></a> %>
  <p> ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ </p>
<% end %>

<a class="new recipe" href="/new"><h5>Add a new recipe here!</h5></a>

<%= Time.now %>
